body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
    background-image: url("bg5.jpg");

    color: white;
}




#white-timer,
#black-timer {
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

#white-timer::before,
#black-timer::before {
    content: attr(data-label);
    display: block;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}


#gamestatus {

    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
    margin-right: 200px;
    color: red;
    font-size: large;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;

}


.containerinput {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#startButton:hover {
    background-color: #0056b3;
}


.whiteinfo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 200px;
    margin-bottom: 100px;
    padding: 10px;
}

.blackinfo {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 200px;
    margin-top: 100px;
    padding: 10px;
}


#gameboard {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

.turn {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 300px;
    margin-bottom: 340px;
    font-size: 1.4rem;

}

#resign {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 300px;
    margin-bottom: 300px;
    font-size: 1.4rem;

}



.square {
    height: 60px;
    width: 60px;
    position: relative;
    /* border: 1px solid #074813;\ */

}

.square svg {
    height: 30px;
    width: 30px;
    margin: 15px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}


.beige {
    background-color: rgb(147, 228, 228);
}

.brown {
    background-color: rgb(34, 94, 8);
}

.black {
    fill: black;
    border-color: black;
}

.white {
    fill: white;
}

html {
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 59px;
}


#navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}




#navbar ul {
    display: flex;
    /* font-family: 'Baloo Bhai', cursive; */
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}



#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    margin-top: 88px;
    height: 100%;
    background-color: black;
    z-index: 1000;
    overflow-x: hidden;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

#sidebar ul li {
    margin-bottom: 10px;
    font-size: 1.3rem;
    padding-top: 50px;
}

#sidebar ul li a {
    color: white;
    display: block;
    padding: 20px 10px;
    border-radius: 20px;
    text-decoration: none;

}

#sidebar ul li a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
}